/* navbar styling*/
.navbar-brand{
  margin-left: 11px;
  padding: 15px;
  text-align: center;
  background-color:  rgb(80,170,170);
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.navbar-custom{ background-color: rgb(80, 170, 170);
}

/* body styling*/
.container-fluid{
  background-color: white;
}

.row {text-align: center;
  background-color: white;
  font-style: 'Times New Roman', Times, serif;
  font-size: 25px;
  color: rgb(80,170,170)
}